@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

<!DOCTYPE html>

@inject SignInManager<IdentityUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<IdentityUser> UserManager

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BethinyShop</title>
    <script src="https://kit.fontawesome.com/99896b5b8f.js" crossorigin="anonymous"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrators"))
                 {
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Audible Books & Original</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Appliances</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Apps & Games</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Arts, Crafts & Sewing</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Automotive Parts & Accessories</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Baby</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Beauty & Personal Care</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Books</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">CDs & Vinyl</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Cell Phones & Accessories</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Collectibles & Fine Art</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Computers</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Courses</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Credit and Payment Cards</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Digital Educational Resources</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Digital Music</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Electronics</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Garden & Outdoor</a>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Gift Cards</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Grocery & Gourmet Food</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Handmade</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Health, Household & Baby Care</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Collectibles & Fine Art</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Computers</a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Collectibles & Fine Art</a><br />
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Computers</a><br />
                        </div>
                    </li>
                    <li><a asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                    <li>
                        <a asp-area="" asp-controller="Feedback" asp-action="Index">
                            Feedback
                            <span>
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <div class="col-sm-3 col-md-12">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">User Management </a><br />
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Role Management</a>
                            <a class="dropdown-item" asp-controller="ProductManagement" asp-action="HomeListOfProducts">Product Management</a>
                        </div>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Feedback" asp-action="Index">
                            Cart
                            <span>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>

                </ul>
                 }
                else
                {
                        <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                        <li><a asp-area="" asp-controller="Feedback" asp-action="Index">Feedback</a></li>

                        <li>
                            <div class="col-sm-3 col-md-12">
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Feedback" asp-action="Index">
                                Cart
                                <span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                            </a>
                        </li>
                    </ul>


                }


                        <div class="col-sm-3 col-md-3 pull-left">

                        </div>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" navbar-right">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                                </ul>

                            </form>
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                            </ul>

                        }
                </div>
            <div class="navbar-collapse collapse">

            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - BethinyShop</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
