@model Product

<h2>@Model.Name</h2>

<div>
    <img alt="" width="230" height="120" src="~/images/@Model.ImagePhoto" />
    <div class="caption-full">
        <h3 class="pull-right">PRICE: $@Model.Price</h3>
        <h4>SHORT DESCRIPTION:@Model.ShortDescription</h4>
        <h4>LONG DESCRIPTION: @Model.LongDescription</h4>
    </div>
</div>

<table class="table table-condensed table-bordered" style="margin-top:1%;">

    <tr>
        <th>AVAILABILITY</th>
        @*<th>RATINGS</th>*@
        <th   style="text-align:center" >QUANTITY</th>
        <th   style="text-align:center" >ACTION</th>
    </tr>

    <tr>
        @if (Model.IsInStock == true)
         {
            <td class="col-md-2 success">In stock</td>

         }
        else //not in stock
        {
            <td class="col-md-1 danger">Out of stock</td>
        }

        <td style="text-align:center">
            <button class="btn minus-btn disabled" type="button">-</button>
            <input type="text" id="quantity" value="1" />
            <button class="btn plus-btn">+</button>
        </td>
        <td   style="text-align:center" >
            <a class="btn btn-sm btn-primary col-md-12" asp-controller="ProductManagement" asp-action="Editproduct" asp-route-id="@Model.Id">Add to cart</a>
        </td>
    </tr>


</table>

<section>

    <h2>Customer questions & answers</h2>
    <div class="media">
        <img src="http://placehold.it/64x64" alt="Media object image" />
        <div class="media-body">
            <p>
                <a href="mailto:example@domain.com">Author name</a>
                (posted on:<time datetime="2021-07-12T10:24">July 5, 2021 at 10:24 AM</time>)
            </p>
            <p>
                First of all, we will learn some basics of Bootstrap, bootstrap buttons,
                add to cart button design in bootstrap.
                After that, we will understand this concept with the
                help of an example of add to cart button design in bootstrap
            </p>
        </div>
    </div>
    <div class="media">
        <img src="http://placehold.it/64x64" alt="Media object image" />
        <div class="media-body">
            <p>
                <a href="mailto:example@domain.com">Author name</a>
                (posted on:<time datetime="2021-07-12T10:24">July 5, 2021 at 10:24 AM</time>)
            </p>
            <p>
                First of all, we will learn some basics of Bootstrap, bootstrap buttons,
                add to cart button design in bootstrap.
                After that, we will understand this concept with the
                help of an example of add to cart button design in bootstrap
            </p>
        </div>
    </div>
    <hr />
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Name" id="name" name="name" required />
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Name" id="email" name="email" required />
        </div>

        <div class="form-group">
            <label for="comment">Your comment:</label>
<textarea class="form-control" id="comment" name="comment" rows="5" placeholder="Write your comment here:" required>     
        </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-success">Clear</button>
    </form>
</section>

<script>
    document.querySelector(".minus-btn").setAttribute("disabled", "disabled");

    var valueCount

    document.querySelector(".plus-btn").addEventListener("click", function ()
    {
        valueCount = document.getElementById("quantity").value;
        valueCount++;
        document.getElementById("quantity").value = valueCount;

        if (valueCount > 1) {
            document.querySelector(".minus-btn").removeAttribute("disabled", "disabled");
        }
    })

    document.querySelector(".minus-btn").addEventListener("click", function () {
        valueCount = document.getElementById("quantity").value;
        valueCount--;
        document.getElementById("quantity").value = valueCount
        if (valueCount == 1) {
            document.querySelector(".minus-btn").setAttribute("disabled", "disabled");
        }
    })

</script>
